@import './vars.scss';
.header {
  height: 110px;
  text-align: center;

  h1 {
    padding-top: 1rem;
    color: $color1;
    font-size: 20px
  }

  p {
    font-size: 1rem;
    color: #fff;
  }

  .balls {
    display: flex;
    height: 10px;
    justify-content: center;
    align-items: center;

    span {
      margin: 0 4px;
      width: 0.5rem;
      height: 0.5rem;
      background-color: $color2-dark;
      border-radius: 50%;

      &.current {
        width: 0.9rem;
        height: 0.9rem;
        background-color: $color2;
      }
    }
  }
}