@import './reset.scss';
@import './vars.scss';
@import './header.scss';
@import './panels.scss';
@import './footer.scss';



html {
  font-family: $font-hei;
  font-size: 10px;
}

#player {
  height: 100vh;
  background-color: $mainBgColor;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}